<h1>Test</h1>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <%= link_to  "Nuevo paciente", new_patient_path %>
       <%# <%= link_to  "Nueva cita médica", new_user_appointment_path%> %>